views:
{%- for floor in floors if floor.has_blinds %}

  - title: {{ floor.friendly_name }}
    path: {{ floor.id }}
    cards:
      - type: entities
        entities:
          - entity: script.open_{{ floor.id }}_blinds
          - entity: script.close_{{ floor.id }}_blinds
          - entity: script.auto_{{ floor.id }}_blinds
          - entity: script.fix_{{ floor.id }}_blinds_positions
          - entity: automation.run_auto_{{ floor.id }}_blinds
{%- for area in areas if area.floor == floor.id and area.has_blinds %}

      - type: entities
        title: {{ area.friendly_name }}
        entities:
        {%- for blind in blinds if blind.area == area.id %}

          - entity: cover.{{ blind.id }}
            name: {{ blind.friendly_name }}
            icon: mdi:blinds
          - entity: input_boolean.{{ blind.id }}_manually_managed
            name: {{ blind.friendly_name }} - ręczne ustawianie
        {% endfor %}
{% endfor %}
{% endfor %}

{%- for floor in floors if floor.has_blinds %}

  - title: {{ floor.friendly_name }} (zaawansowane)
    path: {{ floor.id }}-advanced
    cards:
{%- for blind in blinds if blind.floor == floor.id %}

      - type: entities
        title: {{ blind.friendly_name }}
        entities:

          - entity: cover.{{ blind.id }}
            name: {{ blind.friendly_name }}
            icon: mdi:blinds
          - entity: input_boolean.{{ blind.id }}_manually_managed
            name: {{ blind.friendly_name }} - ręczne ustawianie
            secondary_info: last-changed
          - entity: input_boolean.{{ blind.id }}_set_cover_position_by_script
            name: {{ blind.friendly_name }} - pozycja ustawiana przez skrypt
            secondary_info: last-changed
{% endfor %}
{% endfor %}
