views:
{%- for floor in floors if floor.has_lights %}

  - title: {{ floor.friendly_name }}
    path: {{ floor.id }}
    cards:
      - type: entities
        entities:
          - entity: script.turn_off_{{ floor.id }}_lights

{%- for area in areas if area.floor == floor.id %}

      - type: entities
        title: {{ area.friendly_name }}
        entities:
        {%- for light in light_switches if light.area_id == area.id %}
          {%- for light_part in light.parts if not light_part.technical | default(false) %}

          - entity: light.{{light.device_id }}{{ light_part.suffix or "" }}
            name: {{ light_part.name }}
          {% endfor %}
        {% endfor %}
{% endfor %}
{% endfor %}
