views:
  - title: Ogólne
    cards:
      - type: button
        show_name: true
        show_icon: true
        type: button
        tap_action:
          action: call-service
          service: script.trigger_garage_gate
          target: {}
        entity: binary_sensor.garage_gate_magnetic_sensor
        name: Uruchomienie bramy garażowej
        icon: mdi:garage
      - type: button
        show_name: true
        show_icon: true
        type: button
        tap_action:
          action: call-service
          service: script.trigger_entrance_gate
          target: {}
        entity: binary_sensor.entrance_gate_magnetic_sensor
        name: Uruchomienie bramy wjazdowej
        icon: mdi:garage
      - type: entities
        entities:
          - entity: light.stairs_backlight
            name: Podświetlenie schodów
          - entity: automation.tymczasowe_swiatlo_podswietlenie_w_korytarzu
            name: Podświetlenie w korytarzu
      - type: entities
        entities:
          - input_select.part_of_day
      - type: entities
        title: Rolety
        entities:
{%- for floor in floors if floor.has_blinds %}

          - entity: script.close_{{ floor.id }}_blinds
          - entity: script.open_{{ floor.id }}_blinds
          - entity: script.stop_{{ floor.id }}_blinds
{% endfor %}
      - type: entities
        title: Oświetlenie
        entities:
{%- for floor in floors if floor.has_lights %}

          - entity: script.turn_off_{{ floor.id }}_lights
{% endfor %}
