views:
  - title: Ogólne
    cards:
      - type: entities
        entities:
          - input_select.part_of_day
      - type: entities
        title: Rolety
        entities:
          - entity: script.close_downstairs_blinds
          - entity: script.open_downstairs_blinds
          - entity: script.stop_downstairs_blinds
          - entity: script.close_upstairs_blinds
          - entity: script.open_upstairs_blinds
          - entity: script.stop_upstairs_blinds
