views:
  - title: Ogólne
    cards:
      - type: button
        show_name: true
        show_icon: true
        type: button
        tap_action:
          action: call-service
          service: script.trigger_garage_gate
          target: {}
        entity: binary_sensor.garage_gate_magnetic_sensor
        name: Uruchomienie bramy
        icon: mdi:garage
      - type: entities
        entities:
          - input_select.part_of_day
      - type: entities
        title: Rolety
        entities:
{%- for floor in floors if floor.has_blinds %}

          - entity: script.close_{{ floor.id }}_blinds
          - entity: script.open_{{ floor.id }}_blinds
          - entity: script.stop_{{ floor.id }}_blinds
{% endfor %}
      - type: entities
        title: Oświetlenie
        entities:
{%- for floor in floors if floor.has_lights %}

          - entity: script.turn_off_{{ floor.id }}_lights
{% endfor %}
