default_config:
automation: !include_dir_merge_list automations/

homeassistant:
  name: Honolulu
  latitude: %LATITUDE%
  longitude: %LONGITUDE%
  elevation: 121
  unit_system: metric
  temperature_unit: C
  time_zone: Europe/Warsaw
  currency: PLN
  country: PL
  language: pl
  internal_url: "http://haos.honolulu.org:8123"

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.143

lovelace:
  mode: yaml
  dashboards: !include dashboards.yaml

input_boolean: !include inputs/boolean.yaml
input_number: !include inputs/number.yaml
input_select: !include inputs/select.yaml

logger:
  default: info
#  logs:

prometheus:
  namespace: haos
  requires_auth: false

script: !include_dir_merge_named scripts/
