{% for blind in blinds %}

{{ blind.id }}_manually_managed:
  name: Ręczne ustawianie - {{ blind.friendly_name | lower }}
  initial: false
  icon: mdi:blinds

{{ blind.id }}_set_cover_position_by_script:
  name: Pozycja rolety ustawiona przez skrypt - {{ blind.friendly_name | lower }}
  initial: false
  icon: mdi:blinds
{% endfor %}
