part_of_day_morning_time:
  name: "Ranek - godzina"
  has_date: false
  has_time: true
  initial: "06:00:00"

part_of_day_day_time:
  name: "Dzień - godzina"
  has_date: false
  has_time: true
  initial: "07:00:00"

part_of_day_evening_time:
  name: "Wieczór - godzina"
  has_date: false
  has_time: true
  initial: "20:30:00"

part_of_day_night_time:
  name: "Noc - godzina"
  has_date: false
  has_time: true
  initial: "22:00:00"
