{%- for floor in floors if floor.has_blinds %}
{%- for state in [
    {'action': 'auto', 'state': 'opening', 'friendly_name': 'Automatyczna pozycja', 'desired_state': 'open', 'break_script_prefix': 'close'},
    {'action': 'open', 'state': 'opening', 'target_position': 100, 'friendly_name': 'Otwieranie', 'desired_state': 'open', 'break_script_prefix': 'close'},
    {'action': 'close', 'state': 'closing', 'target_position': 0, 'friendly_name': 'Zamykanie', 'desired_state': 'closed', 'break_script_prefix': 'open'},
] %}

{{ state.action }}_{{ floor.id }}_blinds:
  mode: restart
  alias: {{ state.friendly_name }} rolet {{ floor.friendly_name | lower }}
  sequence:
    - variables:
{% for blind in blinds if blind.floor == floor.id %}
        {{ blind.id }}_target_position: "{{ state.target_position | default('{{ states(\'input_number.' + blind.id + '_target_position\') }}') }}"
{% endfor %}

    - alias: set state
      service: input_select.select_option
      target:
        entity_id: input_select.blinds_{{ floor.id }}_script_state
      data:
        option: "{{ state.state }}"
    - repeat:
        sequence:
{% for blind in blinds if blind.floor == floor.id %}
          - if:
            - condition: and
              conditions:
              - condition: template
                value_template: "{% raw %}{{{% endraw %} ((state_attr('cover.{{ blind.id }}', 'position') | int) - {{ blind.id}}_target_position | int) | abs >= 5  }}"
              - condition: state
                entity_id: input_boolean.{{ blind.id }}_manually_managed
                state: "off"
            then:
{% if state.target_position is defined %}
              - service: cover.{{ state.action }}_cover
{% else %}
              - service: cover.set_cover_position
                data:
                  position: "{%raw %}{{{% endraw %} {{ blind.id }}_target_position }}"
{% endif %}
                target:
                  entity_id:
                    - cover.{{ blind.id }}
          - delay:
              seconds: 1
{% endfor %}
          - delay:
              seconds: 20
        until:
          - condition: or
            conditions:
            - condition: and
              conditions:
{% for blind in blinds if blind.floor == floor.id %}
              - condition: template
                value_template: "{% raw %}{{{% endraw %} ((state_attr('cover.{{ blind.id }}', 'position') | int) - {{ blind.id }}_target_position | int) | abs < 5 }}"
{% endfor %}
              - condition: state
                entity_id:
{% for blind in blinds if blind.floor == floor.id %}
                  - cover.{{ blind.id }}
{% endfor %}
                state: {{ state.desired_state }}
            - "{% raw %}{{{% endraw %} repeat.index >= {{ 2 if state.action == 'auto' else 10 }} }}"

    - alias: unset state
      service: script.turn_on
      target:
        entity_id: script.stop_{{ floor.id }}_blinds
{% endfor %}

stop_{{ floor.id }}_blinds:
  mode: restart
  alias: Zatrzymanie rolet {{ floor.friendly_name | lower }}
  sequence:
    - alias: unset state
      service: input_select.select_option
      target:
        entity_id: input_select.blinds_{{ floor.id }}_script_state
      data:
        option: "none"
    - alias: Zatrzymanie rolet
      service: cover.stop_cover
      target:
        entity_id:
{% for blind in blinds if blind.floor == floor.id %}
          - cover.{{ blind.id }}
{% endfor %}
{% endfor %}

calculate_blind_position:
  mode: single
  max_exceeded: silent
  alias: Przeliczenie pozycji rolety
  fields:
    blind_id: {}
    cardinal_direction: {}
    floor: {}
  sequence:
    - if:
         condition: template
         value_template: "{% raw %}{{{% endraw %} (floor == 'downstairs' and states.sensor.living_room_temperature_sensor_temperature.attributes.temperature < 22) or (floor == 'upstairs' and states.sensor.master_bedroom_temperature_sensor_temperature.attributes.temperature < 22) }}"
      then:
        - service: input_number.set_value
          metadata: {}
          data:
            value: 100
          target:
            entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
      else:
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'north' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 290
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'west' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 180
                below: 300
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'south' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 90
                below: 220
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'east' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 20
                below: 150
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
