{%- for floor in floors if floor.has_blinds %}
{%- for state in [
    {'action': 'open', 'friendly_name': 'Otwieranie'},
    {'action': 'close', 'friendly_name': 'Zamykanie'}
] %}

{{ state.action }}_{{ floor.id }}_blinds:
  mode: restart
  alias: {{ state.friendly_name }} rolet {{ floor.friendly_name | lower }}
  sequence:
{% for blind in blinds if blind.floor == floor.id %}
    - service: cover.{{ state.action }}_cover
      target:
        entity_id: cover.{{ blind.id }}
    - delay:
        seconds: 1
{% endfor %}
{% endfor %}

auto_{{ floor.id }}_blinds:
  mode: restart
  alias: Automatyczna pozycja rolet {{ floor.friendly_name | lower }}
  sequence:
{% for blind in blinds if blind.floor == floor.id %}
    - variables:
        {{ blind.id }}_current_position: "{%raw%}{{{%endraw%} state_attr('cover.{{ blind.id }}', 'current_position') | int }}"
        {{ blind.id }}_target_position: "{%raw%}{{{%endraw%} states('input_number.{{ blind.id }}_target_position') }}"
    - if:
      - condition: and
        conditions:
        - condition: template
          value_template: "{% raw %}{{{% endraw %} ({{ blind.id }}_current_position - {{ blind.id}}_target_position) | abs >= 5  }}"
        - condition: state
          entity_id: input_boolean.{{ blind.id }}_manually_managed
          state: "off"
      then:
        - action: input_boolean.turn_on
          target:
            entity_id: input_boolean.{{ blind.id }}_set_cover_position_by_script
        - service: cover.set_cover_position
          data:
            position: "{%raw %}{{{% endraw %} {{ blind.id }}_target_position }}"
          target:
            entity_id:
              - cover.{{ blind.id }}
        - delay:
            seconds: 1
        - action: input_boolean.turn_off
          target:
            entity_id: input_boolean.{{ blind.id }}_set_cover_position_by_script
{% endfor %}

    - alias: wait for the covers to reach their target position (correct or not)
      delay:
        seconds: 30

    - alias: run position fixing script
      service: script.turn_on
      target:
        entity_id: script.fix_{{ floor.id }}_blinds_positions
{% endfor %}

calculate_blind_position:
  mode: single
  max_exceeded: silent
  alias: Przeliczenie pozycji rolety
  fields:
    blind_id: {}
    cardinal_direction: {}
    floor: {}
  sequence:
    - alias: "Set open by default"
      service: input_number.set_value
      metadata: {}
      data:
        value: 100
      target:
        entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
    - alias: "Check if position should be adjusted"
      condition: template
      value_template: "{% raw %}{{{% endraw %} is_state('automation.run_auto_' + floor + '_blinds', 'on') }}"
    - if:
         condition: template
         value_template: "{% raw %}{{{% endraw %} (floor == 'downstairs' and states.sensor.living_room_temperature_sensor_temperature.attributes.temperature < 21) or (floor == 'upstairs' and states.sensor.master_bedroom_temperature_sensor_temperature.attributes.temperature < 19) }}"
      then:
        - service: input_number.set_value
          metadata: {}
          data:
            value: 100
          target:
            entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
      else:
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'north' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 280
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'west' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 170
                below: 310
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'south' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 70
                below: 240
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
        - if:
            condition: template
            value_template: "{% raw %}{{{% endraw %} cardinal_direction == 'east' }}"
          then:
            - if:
                condition: numeric_state
                entity_id: sun.sun
                attribute: azimuth
                above: 10
                below: 170
              then:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 30
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position
              else:
                - service: input_number.set_value
                  metadata: {}
                  data:
                    value: 90
                  target:
                    entity_id: input_number.{% raw %}{{{% endraw %} blind_id }}_target_position

{% for floor in floors if floor.has_blinds %}
fix_{{ floor.id }}_blinds_positions:
  mode: restart
  alias: Naprawienie rolet {{ floor.friendly_name | lower }}
  sequence:
{% for blind in blinds if blind.floor == floor.id %}
  - service: mqtt.publish
    data:
      topic: "zigbee2mqtt/{{ blind.id }}/get/position"
      payload: ""
  - delay:
      seconds: 1
{% endfor %}
{% endfor %}
