{%- for floor in floors if floor.has_alarm %}
{%- for alarm in [
    {
        'state': 'armed_away',
        'friendly_name': 'uzbrojony',
        'blinds': 'close',
    },
    {
        'state': 'disarmed',
        'friendly_name': 'rozbrojony',
        'blinds': 'auto',
    }
] %}
- id: "{{ floor.id }}_alarm_{{ alarm.state }}"
  alias: "Alarm {{ alarm.friendly_name }} {{ floor.friendly_name | lower }}"
  trigger:
    - platform: state
      entity_id:
        - alarm_control_panel.{{ floor.id }}_alarm
      to: "{{ alarm.state }}"
  action:
{% for blind in blinds %}
    - action: input_boolean.turn_off
      target:
        entity_id: input_boolean.{{ blind.id }}_manually_managed
{% endfor %}
    - parallel:
      - service: script.turn_on
        entity_id: script.{{ alarm.blinds }}_{{ floor.id }}_blinds
{% if alarm.state == 'armed_away' %}
{%- for light_script in floor.turn_off_lights_on_alarm_armed %}

      - service: script.turn_on
        entity_id: script.{{ light_script }}
{% endfor  %}
{% endif %}
{% endfor %}
{% endfor %}

- id: everyone_left_home
  trigger:
    - platform: state
      entity_id:
        - alarm_control_panel.upstairs_alarm
      to: armed_away
  action:
    - service: switch.turn_off
      target:
        entity_id: switch.circulator_socket
