{%- for floor in floors if floor.has_alarm %}
{%- for alarm in [{'state': 'armed_away', 'friendly_name': 'uzbrojony', 'blinds': 'close'}, {'state': 'disarmed', 'friendly_name': 'rozbrojony', 'blinds': 'open'}] %}
- id: "{{ floor.id }}_alarm_{{ alarm.state }}"
  alias: "Alarm {{ alarm.friendly_name }} {{ floor.friendly_name | lower }}"
  trigger:
    - platform: state
      entity_id:
        - alarm_control_panel.{{ floor.id }}_alarm
      to: "{{ alarm.state }}"
  action:
    - service: script.turn_on
      entity_id: script.{{ alarm.blinds }}_{{ floor.id }}_blinds
{% endfor %}
{% endfor %}
