{% for blind in blinds %}
- id: {{ blind.id }}_position_calculator
  mode: single
  max_exceeded: silent
  alias: {{ blind.friendly_name }} - przeliczenie pozycji
  trigger:
    - platform: time_pattern
      minutes: "/15"
  action:
    - action: script.calculate_blind_position
      data:
        cardinal_direction: {{ blind.cardinal_direction }}
        blind_id: {{ blind.id }}
        floor: {{ blind.floor }}

- id: set_{{ blind.id }}_manually_managed
  alias: Ustawienie ręczne - {{ blind.friendly_name | lower }}
  use_blueprint:
    path: set_blind_manually_managed.yaml
    input:
      blind: cover.{{ blind.id }}
      blind_manually_managed: input_boolean.{{ blind.id }}_manually_managed
      close_script: script.close_{{ blind.floor }}_blinds
      open_script: script.open_{{ blind.floor }}_blinds
      auto_script: script.auto_{{ blind.floor }}_blinds

- id: reset_{{ blind.id }}_manually_managed
  alias: Resetowanie ustawienia ręcznego - {{ blind.friendly_name | lower }}
  use_blueprint:
    path: reset_blind_manually_managed.yaml
    input:
      blind_manually_managed: input_boolean.{{ blind.id }}_manually_managed

{% endfor %}

{% for floor in floors if floor.has_blinds %}
- id: run_auto_{{ floor.id }}_blinds
  mode: single
  max_exceeded: silent
  alias: {{ floor.friendly_name }} - uruchomienie pozycji automatycznej
  trigger:
    - platform: time_pattern
      minutes: "/15"
  condition:
    - condition: not
      conditions:
        - condition: state
          entity_id: alarm_control_panel.upstairs_alarm
          state: "armed_away"
    - condition: numeric_state
      entity_id: sun.sun
      attribute: elevation
      above: 0
  action:
    - delay:
        minutes: 1
    - service: script.turn_on
      entity_id: script.auto_{{ floor.id }}_blinds
{% endfor %}
