{%- for light in light_switches %}
{%- for part in light.parts if part.notify_when_on_from is defined %}
- id: entity_on_{{ light.device_id }}{{ part.suffix or "" }}
  alias: Aktywne urządzenie - {{ part.name }}
  use_blueprint:
    path: entity_on_notifier.yaml
    input:
      entity_id: light.{{ light.device_id }}{{ part.suffix or "" }}
      entity_name: {{ part.name }}
      in_state_time: {{ part.notify_when_on_from }}
      url_to_open: {{ part.url_to_open }}
{% endfor %}
{% endfor %}

{%- for entity in satel.zones if entity.notify_when_active_from is defined %}
- id: entity_on_{{ entity.name }}
  alias: Aktywne urządzenie - {{ entity.friendly_name }}
  use_blueprint:
    path: entity_on_notifier.yaml
    input:
      entity_id: binary_sensor.{{ entity.name }}
      entity_name: {{ entity.friendly_name }}
      in_state_time: {{ entity.notify_when_active_from }}
      url_to_open: {{ entity.url_to_open }}
      {{ 'script_for_action: ' + entity.script_for_action if entity.script_for_action is defined }}
{% endfor %}
