{%- for light_switch_mapping in light_switch_mappings %}
- id: light_switch_mapping_{{ light_switch_mapping.name }}
  alias: Mapowanie przycisków {{ light_switch_mapping.name }}
  use_blueprint:
    path: light_switch_mapping.yaml
    input:
      light_switch_input: light.{{ light_switch_mapping.from.device_id }}{{ ((light_switches | selectattr('device_id', 'equalto', light_switch_mapping.from.device_id) | first).parts | selectattr('id', 'equalto', light_switch_mapping.from.part_id) | first).suffix }}
      light_switch_output:
{% for light_switch_mapping_to in light_switch_mapping.to %}
        - light.{{ light_switch_mapping_to.device_id }}{{ ((light_switches | selectattr('device_id', 'equalto', light_switch_mapping_to.device_id) | first).parts | selectattr('id', 'equalto', light_switch_mapping_to.part_id) | first).suffix }}
{% endfor %}

{% endfor %}

# this transmitter does not support switch type per button
- id: boiler_room_l1_auto_switch_off
  alias: Automatyczne wyłączenie L1 w kotłowni
  trigger:
    - platform: state
      entity_id: light.boiler_room_light_switch_l1
      from: "off"
      to: "on"
  action:
    service: light.turn_off
    target:
      entity_id: light.boiler_room_light_switch_l1
