{%- for light_switch in light_switches if light_switch.dimmable %}
{%- for light_part in light_switch.parts if (not light_part.technical | default(false)) and (light_part.dimmable | default(true)) %}
- id: part_of_day_{{ light_switch.device_id }}{{ light_part.suffix }}
  alias: Pora dnia {{ light_switch.device_id }}{{ light_part.suffix }}
  use_blueprint:
    path: part_of_day_light_switch.yaml
    input:
      light_switch: light.{{ light_switch.device_id }}{{ light_part.suffix }}
      morning_brightness_pct: {{ light_part.morning_brightness_pct | default(35) }}
      evening_brightness_pct: {{ light_part.evening_brightness_pct | default(40) }}
      night_brightness_pct: {{ light_part.night_brightness_pct | default(29) }}
{% endfor %}
{% endfor %}

- id: part_of_day_stairs
  alias: Pora dnia podświetlenie schodów
  use_blueprint:
    path: part_of_day_light_switch.yaml
    input:
      light_switch: light.stairs_backlight

- id: part_of_day_washbasin_cabinet
  alias: Pora dnia podświetlenie umywalek
  use_blueprint:
    path: part_of_day_light_switch.yaml
    input:
      light_switch: light.upstairs_bathroom_washbasin_cabinet_backlight
