{%- for key, dashboard in dashboards.items() %}

{{ dashboard.url }}:
  mode: yaml
  title: {{ dashboard.title }}
  icon: {{ dashboard.icon }}
  show_in_sidebar: true
  filename: dashboards/{{ dashboard.filename }}
{% endfor %}
