HOME			= .

# Comment out the next line to ignore configuration errors
config_diagnostics = 1

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

####################################################################
[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name

req_extensions = v3_req

[ req_distinguished_name]
countryName			= PL
stateOrProvinceName		= Mazowieckie
localityName			= Warsaw
organizationName		= honoluluorg
organizationalUnitName		= Internal
commonName			= honoluluorg

[ v3_req ]

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = haos-honoluluorg.duckdns.org
DNS.2 = monitoring-honoluluorg.duckdns.org
DNS.3 = honoluluorg.duckdns.org
